<h1>Current Status</h1>

<div class="status status--current">
  <div class="status__state status__state--up">
    up
  </div>

  <div class="status__timestamp">
    2022-05-10 12:42:28 UTC
  </div>
  <div class="status__message">
    Everything's running smoothly
  </div>
</div>
