<h1>Current Status</h1>

<div class="status status--current">
  <div class="status__state status__state--up">
    up
  </div>

  <div class="status__timestamp">
    2022-05-10 10:45:44 UTC
  </div>
  <div class="status__message">
    Everything's running smoothly
  </div>
</div>

<h2>History</h2>

<div class="status status">
  <div class="status__state status__state--up">
    up
  </div>

  <div class="status__timestamp">
    2022-05-10 10:45:44 UTC
  </div>
  <div class="status__message">
    Everything's running smoothly
  </div>
</div>

<div class="status status">
  <div class="status__state status__state--up">
    up
  </div>

  <div class="status__timestamp">
    2022-05-10 10:21:13 UTC
  </div>
  <div class="status__message">
    Services appear to have recovered successfully; we are actively monitoring.
  </div>
</div>

<div class="status status">
  <div class="status__state status__state--down">
    down
  </div>

  <div class="status__timestamp">
    2022-05-10 10:12:43 UTC
  </div>
  <div class="status__message">
    We've isolated the problem and are deploying a fix.
  </div>
</div>

<div class="status status">
  <div class="status__state status__state--down">
    down
  </div>

  <div class="status__timestamp">
    2022-05-10 10:01:01 UTC
  </div>
  <div class="status__message">
    We're experiencing delayed previews and are investigating.
  </div>
</div>

<div class="status status">
  <div class="status__state status__state--up">
    up
  </div>

  <div class="status__timestamp">
    2022-05-10 09:12:28 UTC
  </div>
  <div class="status__message">
    Everything's running smoothly
  </div>
</div>
